<ion-content #mycontent class="instrument-panel-content">


    <div class="chart-page-container" id="instrument-panel-container">
        <!-- 第一行 -->
        <ion-row class="top-bar-container">
            <ion-col class="move-left" center text-center>
                <button clear ion-button menuToggle class="open-menu-button">
                    <img class="custom-image-button" src="assets/img/menu.svg" />
                </button>
            </ion-col>


            <ion-col width-30 text-center center>
                <div  class="page-title">
                    <strong>新时代ARM-MCU实验平台</strong>
                </div>
            </ion-col>
        </ion-row>

        <!--实在不行用bootstrap col-->

<!--第二行-->
        <ion-row>

            <a href="http://www.stmcu.org/module/forum/forum.php?mod=viewthread&tid=608335&fromuid=3309825" target="_blank"> <strong>请先看各种实验原理知识和实验步骤</strong></a>
            <button ion-button (click)="toggleShowVedio();" > 现场视频</button>
            <div *ngIf="isShowVedio">
                <span>现场视频</span>
                <img src="http://192.168.31.99:8081/" alt="这是现场视频"/>
            </div>
        </ion-row>

        <ion-grid>
        <ion-row>


                <!--&lt;!&ndash;高度&ndash;&gt;-->
                <!--<iframe name="myframe" src="myframe.htm" frameborder="0" scrolling="auto" width="100%" height="100%" onload="document.all['myframe'].style.height=myframe.document.body.scrollHeight" ></iframe>-->

                <!--宽度-->
                <iframe name="myframe" src="https://os.mbed.com/compiler/" frameborder="0" scrolling="auto" width="1330px" height="500px"  ></iframe>
               <!--<iframe src="https://www.baidu.com/" frameborder="0"  height=""></iframe>-->



                  <div style="margin-bottom: 40px">
                          <!--
                                      <button type="button" class="btn btn-success btn-xs"
                                      (click)="uploader.queue[0].upload()" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                                      <span class="glyphicon glyphicon-upload"></span> Upload
                                   </button> -->

                          <h3>Select files</h3>

                          <div ng2FileDrop
                               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                               (fileOver)="fileOverBase($event)"
                               [uploader]="uploader"
                               class="well my-drop-zone">
                              Base drop zone
                          </div>

                          <br/>

                          Single
                          <input type="file" ng2FileSelect [uploader]="uploader" />
                          <table class="table">
                              <thead>
                              <tr>
                                  <th width="50%">Name</th>
                                  <!-- <th>Size</th> -->
                                  <th>Progress</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let item of uploader.queue">
                                  <td><strong>{{ item?.file?.name }}</strong></td>
                                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                  <td *ngIf="uploader.isHTML5">
                                      <div class="progress" style="margin-bottom: 0;">
                                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                      </div>
                                  </td>
                                  <td class="text-center">
                                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                  </td>
                                  <td nowrap>
                                      <button type="button" class="btn btn-success btn-xs"
                                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                          <span class="glyphicon glyphicon-upload"></span> Upload
                                      </button>
                                      <button type="button" class="btn btn-warning btn-xs"
                                              (click)="item.cancel()" [disabled]="!item.isUploading">
                                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                      </button>
                                      <button type="button" class="btn btn-danger btn-xs"
                                              (click)="item.remove()">
                                          <span class="glyphicon glyphicon-trash"></span> Remove
                                      </button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>

                      </div>


        </ion-row>

        </ion-grid>
    </div>

</ion-content>
