<ion-content class="first-tab-container" padding>

    <div class="custom-backdrop" *ngIf="tutorialMode"></div>

    <div class="menu-button-container">
        <button ion-button menuToggle class="custom-menu-button disable-hover">
            <img class="custom-image-button" src="assets/img/menu.svg">
        </button>
    </div>

    <!-- 下面的可注释掉 -->
    <!-- <div class="tutorial-button-container">
        <ion-row wrap class="tutorial-button-wrapper">
            <ion-col>
                <button ion-button (tap)="openGettingStartedPopover($event)" class="kickstarter-button digilent-greenify disable-hover">
                    Getting Started
                </button>
            </ion-col>
            <ion-col>
                <button ion-button (tap)="executeHelp()" class="kickstarter-button disable-hover" [ngClass]="{'end-tutorial': tutorialMode, 'help-button': !tutorialMode}" *ngIf="tutorialMode">
                    End Tutorial
                </button>
                <button ion-button (tap)="executeHelp()" class="kickstarter-button disable-hover" [ngClass]="{'end-tutorial': tutorialMode, 'help-button': !tutorialMode}" *ngIf="!tutorialMode">
                    Tutorial
                </button>
            </ion-col>
        </ion-row>

    </div> -->

    <!-- <div class="beta-container">
        <img class="digilent-store-icon" src="assets/img/logo-long.png" (click)="routeToDigilent()">
    </div> -->

<!-- 调试用，之后可以把这个删除掉 ngif -->
    <div class="align-right">
        <button ion-button icon-right color ='light' (tap)="toggleAddDevMenu()"  >
                【NNU】
            <div [@rotate]="showDevMenu" class="rotate-image-container">
                <img src="assets/img/arrow-dropdown-white.svg" class="custom-image-button">
            </div>
        </button>
    </div>
    <div [ngClass]="{fadein: showDevMenu}" class="fadeout">
        <!-- 展开的三个按键 -->
        <div *ngIf="showDeviceTypeCard" class="devicetype-card" text-right>
            <div >
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('network')"  >
                    <img class="custom-image-button" src="assets/img/wifi.svg">
                    Network
                </button>
            </div>
            <div>
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('simulated')" [tooltip]="tooltipMessages['simulatedButton']"
                    [forceShow]="tutorialStage===1 && tutorialMode" [tooltipAnimation]="true" tooltipPlacement="bottom"
                    [ngClass]="{'move-feature-to-front':tutorialStage===1 && tutorialMode}">
                    <img class="custom-image-button" src="assets/img/simulated.svg">
                    Simulated
                </button>
            </div>
            <div>
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('agent')" [tooltip]="tooltipMessages['agentButton']"
                    [forceShow]="tutorialStage===1 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'bottom'">
                    <img class="custom-image-button" src="assets/img/agent.svg">
                    Agent
                </button>
            </div>
        </div>
        <div *ngIf="!showDeviceTypeCard">

             <!-- 这是网络类型的按键弹窗 -->
            <div [ngSwitch]="deviceConnectionType">
                <div *ngSwitchCase="'network'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/wifi.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked>Hostname / IP</ion-label>
                                    <ion-input [(ngModel)]="addDeviceIp" (keypress)="checkForEnter($event, 'network')"></ion-input>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']"
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="attemptConnect(addDeviceIp)" [tooltip]="tooltipMessages['addCurrentDevice']"
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </div>
                                            <!-- 这是仿真类型的按键弹窗 -->
                <div *ngSwitchCase="'simulated'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item" [ngClass]="{'move-feature-to-front':tutorialStage===2 && tutorialMode}">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/simulated.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <div class="custom-ion-label">Simulated Device</div>
                                        <dropdown-popover class="dropdown-popover-selector" [dataArray]="simulatedDevices" (onSelection)="selectSimulatedDevice($event)"></dropdown-popover>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']"
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="openSimDevice()" [tooltip]="tooltipMessages['addCurrentDevice']"
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>

                    </ion-card>
                </div>
                                 <!-- 这是Agent类型的按键弹窗 -->
                <div *ngSwitchCase="'agent'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/agent.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked> Agent</ion-label>
                                    <ion-input [(ngModel)]="deviceBridgeAddress" (keypress)="checkForEnter($event, 'agent')"></ion-input>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']"
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="attemptBridgeConnect(deviceBridgeAddress)" [tooltip]="tooltipMessages['addCurrentDevice']"
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>

                    </ion-card>
                </div>
            </div>
        </div>
    </div>



    <!-- 下面的是仪器卡片 （可用于调试用）    下面的ngfor会判断devices是否为空，如果为空就不会显示出来-->
    <div class="device-card-wrapper-background">
        <div text-center>
            <ion-card class="device-manager-card highlight-device-card" *ngFor="let device of devices, let i = index;">

                <ion-item class="card-item" >
                    <ion-avatar item-left (click)="connectToDevice(i)">
                        <img src="assets/img/yunfang.png">
                    </ion-avatar>

                    <ion-label class="card-label" (click)="connectToDevice(i)">
                        <h2 class="turn-white">{{device.hostname}}</h2>
                        <p class="turn-white">{{device.ipAddress}}</p>
                        <!-- <p class="turn-white">{{device.deviceDescriptor.deviceModel}}</p> -->
                        <p class="turn-white">NNU-ICP</p>
                    </ion-label>

                    <div item-right class="button-container">

                        <!-- 更新固件 -->
                        <!-- <div *ngIf="device.outdatedFirmware">
                            <button ion-button class="card-button alert-button" clear (click)="openUpdateFirmware(i)">
                                <img class="custom-image-button" src="assets/img/info.svg">
                            </button>
                        </div> -->

                        <!-- 三个点的配置弹出框 -->
                        <div>
                            <button ion-button class="card-button" clear (click)="openPopover($event, i)" [tooltip]="tooltipMessages['deviceCardMore']" [tooltipAnimation]="true" tooltipPlacement="left">
                                <img class="custom-image-button" src="assets/img/more.svg">
                            </button>
                        </div>
                    </div>
                </ion-item>

            </ion-card>
        </div>
    </div>
</ion-content>
